body {
  background-color: antiquewhite;
  margin-top: 30px;
  padding: 0;
}

#container {
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 30px;
  background-color: white;
}

.review-slider {
  width: 320px;
  margin: auto;
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
}

.review {
  display: none;
}

.review.active {
  display: block;
}

.review img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review p {
  font-weight: 600;
  padding-top: 50px;
  text-align: justify;
}

button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}